<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOTA.DeviceEmulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SOTA.DeviceEmulator.Properties.Settings>
            <setting name="DefaultEnvironment" serializeAs="String">
                <value>dev</value>
            </setting>
            <setting name="DeviceProvisioningServiceEndpoint" serializeAs="String">
                <value>global.azure-devices-provisioning.net</value>
            </setting>
            <setting name="DeviceProvisioningServiceIdScopeMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dev=0ne00064748</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CertificatesFolder" serializeAs="String">
                <value>Certificates</value>
            </setting>
            <setting name="RootCertificateThumbprintMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dev=8B7C5620292D04DB01D55A60EB797F587AFC1620</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SOTA.DeviceEmulator.Properties.Settings>
    </userSettings>
</configuration>